{% extends "base.html" %}

{% block section %}User Management{% endblock %}

{% block sectionlinks %}
<ul>
    {% if user.is_authenticated %}
    <li><strong style="padding: 3px;">{{ user.username }}</strong></li>
    <li><a href="/accounts/profile/">View Profile</a></li>
    <li><a href="/accounts/profile/edit/">Edit Profile</a></li>
    <li><a href="/accounts/logout/">Log Out</a></li>
    {% else %}
    <li><a href="/accounts/login/">Log In</a></li>
    <li><a href="/accounts/register/">Register</a></li>
    {% endif %}
    <li><a href="/accounts/interests/">Member Interests</a></li>
</ul>
{% endblock %}
