{% extends "registration/base.html" %}

{% block title %}{% block header %}Change Password {% endblock %}{% endblock %}

{% block content %}
{% if form.old_password.errors %}
<p class="error">You did not enter the correct old password</p>
{% endif %}
{% if form.new_password1.errors or form.new_password2.errors %}
<p class="error">The two new passwords did not match</p>
{% endif %}
<div class="form">
    <form method="post" action="">
        <table>
            <tr>
                <th>{{ form.old_password.label_tag }}</th>
                <td>{{ form.old_password }}</td>
            </tr>
            <tr>
                <th>{{ form.new_password1.label_tag }}</th>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <th>{{ form.new_password2.label_tag }}</th>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
                <td><input type="reset" value="Reset Form" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
