{% extends "base.html" %}

{% block title %}{{ object.get_type_display }}: {{ object.title }}{% endblock %}

{% block header %}{{ object.get_type_display}}: {{ object.title }}{% endblock %}

{% block content %}
<img src="http://media.drab-makyo.com/{{ object.image }}" style="display: block; margin: auto" /><br clear="all" />
<p>
{{ object.description|safe }}
</p>

<ul>
    <li><strong>Date:</strong> {{ object.date }}</li>
    <li><strong>Part of multi-part work:</strong> {% if object.part_of_work %}<a href="/gallery/{{ object.part_of_work.slug }}/">{{ object.part_of_work.title }}</a>{% else %}<em>N/A</em>{% endif %}</li>
    <li><strong>External link:</strong> {% if object.external_link %}<a href="{{ object.external_link }}" target="_blank">{{ object.external_link }}</a>{% else %}<em>N/A</em>{% endif %}</li>
</ul>

{% include "portfolio/license.html" %}
{% endblock %}
