{% extends "base.html" %}

{% block title %}Scores{% endblock %}

{% block header %}Scores{% endblock %}

{% block content %}
<ul>
    {% for object in objects %}
    <li class="{% cycle "odd" "even" %}"><a href="/score/{{ object.slug }}/">{{ object.title }}</a> - {{ object.instrumentation }} <br />
    <p>{{ object.description|safe|truncatewords_html:25 }}</p></li>
    {% endfor %}
</ul>

{% ifnotequal mps.count 0 %}
<h3>Sets</h3>
<ul>
    {% for mp in mps %}
    <li class="{% cycle "odd" "even" %}"><a href="/work/{{ mp.slug }}/">{{ mp.title }}</a> - {{ mp.description|safe|truncatewords_html:25 }}</li>
    {% endfor %}
</ul>
{% endifnotequal %}
{% endblock %}
