{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<img src="http://media.drab-makyo.com/images/mjs-bw.sized.jpg" border="0" height="400" align="left" style="margin:0 0.5em 0 0" />
<p>Welcome to the portfolio of Matthew Scott.  As a composer, programmer, photographer, writer, and student, his varied works are presented here in one place.  Please feel free to peruse the links at the top of the page in order to see, hear, and experience the creative output of Matthew Scott.<br />
<br />
Additional links: <a href="/about/">About</a> | <a href="/resume/">R&eacute;sum&eacute;</a><br />
<p>Matthew Scott<br />
615 Andrea St.<br />
Fort Collins, CO 80524</p>
<p>303-818-5943</p>
<p><a href="mailto:makyo@drab-makyo.com">makyo@drab-makyo.com</a></p>
</p><br clear="all" />
{% endblock %}
